* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
  scroll-behavior: smooth;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;

}

.none {
    display: none !important;
}


/* Header */

.header {

  /* Определяем модель flex-box для блока .header */
  position: relative;
  display: flex;
  flex-direction: column; /* Выстраиваем flex-элементы в колонку, основная ось - y */
  justify-content: center; /* Выравнивание по основной оси*/
  align-items: center; /* Выравнивание по поперечной оси*/
  width: 100%;
  height: 100vh;

  /*background-color: dimgrey;*/
  /*background-image: url("./img/header/header_bg.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: white;
}

.header__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1em;
    color: white;
}

.header__subtitle2 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1em;
    color: white;
}

.header__subtitle3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1em;
    color: white;
}

.header_arrow {
    position: absolute;
    margin-bottom: 145px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer_arrow {
    font-size: 18px;
    font-weight: 500;
    Line height: 21.94px;
    margin-top: 30px;
    text-decoration: none;
    color: white;

    width: 236px;
    height: 52px;
    top: 322px;
    left: 720px;
    padding: 15px 29px 15px 29px;
    gap: 10px;
    border-radius: 41px;
    border: 1px solid #ffffff;

}


/* Portfolio */

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio_header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: black;
}

.portfolio_cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 30px;
    padding: 20px;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(126, 155, 189, 0.35);
}

.card:last-child, .card:nth-last-child(2), .card:nth-last-child(3) {
    margin-bottom: 0;
}

.card_img {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.card_title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: black;
    text-align: justify-all;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
    color: black;
}

/* Footer */

.footer {
    padding-top: 45px;
    padding-bottom: 80px;
    background: #161C2D;
    color: white;
}

.footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.footer_copyright {
    max-width: 350px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.3;
}

.footer_copyright_name {
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 15px;
    padding-left: 20px;

}

.footer_copyright p {
    margin: = 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-left: 20px;
}

.footer_icons {
    max-width: 350px;
}

.footer_icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}

.footer_icons_row {
    display: flex;
    align-items: center;
}

.footer_icons_row > * + * {
    margin-left: 5px;
}

.footer_contacts {
    max-width: 350px;
}

.footer_button {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 5px solid #ffffff;
    border-radius: 80px;

    margin-top: 15px;
    margin-right: 20px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_contacts p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

